.nombre-de-grupo {
    background-color: blueviolet;
    width: 4%;
}
.titulo-principal {
    background-color: blueviolet;
    width: 35%;
}
.historia {
    background-color: blueviolet;
}
.canciones {
    background-color: blueviolet;
}
.enlace1 {
    background-color: blueviolet;
}
.enlace2 {
    background-color: blueviolet;
}
.enlace3 {
    background-color: blueviolet;
}
.otros-grupos {
    background-color: blueviolet;
    width: 7%;
}
.grupos {
    background-color: blueviolet;
    width: 6%;
}
.creador {
    background-color: black;
    color: blueviolet;
} 
body {background-color: black;
}
