.titulo-principal {
    background-color: blueviolet;
    width: 31%;
}
.sumire {
    background-color: blueviolet;
    width: 10%;
}
.creador {
    color: blueviolet;
        }
        body {
            background-color: black;
        }