body {
    background-color: black;
}
.usuario {
    color: blueviolet;
}
.contraseña {
    color: blueviolet;
}
.confirmacion {
    color: blueviolet;
}
.creador {
    color: blueviolet;
}